[user]
    email = tom@chillidonut.com
    name = Tom McKenzie

[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = cyan

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[help]
    autocorrect = 10

[push]
    default = simple

[alias]
    fancy-log  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
    branches = for-each-ref --sort='-authordate:iso8601' --format=' %(color:green)%(authordate:iso8601) %(color:white)%(objectname:short) %09%(color:yellow)%(refname:short) %09%(color:white)%(upstream:track) %(contents:subject)' refs/heads --no-merged
    edit-conflicted = ! git diff --name-only | uniq | xargs subl
[core]
	editor = subl -w
	excludesfile = ~/.gitignore-global
	whitespace = tab-in-indent,trailing-space,space-before-tab
