# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Sublime3
*.sublime-workspace
Sublime3/User/Package Control.last-run
Sublime3/User/Package Control.ca-list
Sublime3/User/Package Control.ca-bundle
Sublime3/User/Package Control.system-ca-bundle
Sublime3/User/Package Control.cache/
Sublime3/User/Package Control.ca-certs/

# local backups
bak/
