[submodule ".vim/pack/grrowl/start/vim-gitgutter"]
	path = .vim/pack/grrowl/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/grrowl/start/editorconfig-vim"]
	path = .vim/pack/grrowl/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/grrowl/start/vim-polyglot"]
	path = .vim/pack/grrowl/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
