<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowAnyShortcut</key>
	<true/>
	<key>almostMaximize</key>
	<dict>
		<key>keyCode</key>
		<integer>44</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>bottomHalf</key>
	<dict/>
	<key>bottomLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>38</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>bottomRight</key>
	<dict>
		<key>keyCode</key>
		<integer>37</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>center</key>
	<dict/>
	<key>centerHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>42</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>centerThird</key>
	<dict/>
	<key>firstFourth</key>
	<dict>
		<key>keyCode</key>
		<integer>41</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>firstThird</key>
	<dict/>
	<key>firstThreeFourths</key>
	<dict>
		<key>keyCode</key>
		<integer>41</integer>
		<key>modifierFlags</key>
		<integer>655360</integer>
	</dict>
	<key>firstTwoThirds</key>
	<dict/>
	<key>footprintAnimationDurationMultiplier</key>
	<real>0.75</real>
	<key>hapticFeedbackOnSnap</key>
	<integer>1</integer>
	<key>hideMenubarIcon</key>
	<true/>
	<key>internalTilingNotified</key>
	<true/>
	<key>landscapeSnapAreas</key>
	<string>[1,{"action":15},2,{"action":2},8,{"action":14},5,{"action":34},3,{"action":16},6,{"action":13},4,{"compound":-2},7,{"compound":-4}]</string>
	<key>larger</key>
	<dict>
		<key>keyCode</key>
		<integer>47</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>lastFourth</key>
	<dict>
		<key>keyCode</key>
		<integer>39</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>lastThird</key>
	<dict/>
	<key>lastThreeFourths</key>
	<dict>
		<key>keyCode</key>
		<integer>39</integer>
		<key>modifierFlags</key>
		<integer>655360</integer>
	</dict>
	<key>lastTwoThirds</key>
	<dict/>
	<key>lastVersion</key>
	<string>101</string>
	<key>launchOnLogin</key>
	<true/>
	<key>leftHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>33</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>maximize</key>
	<dict/>
	<key>maximizeHeight</key>
	<dict>
		<key>keyCode</key>
		<integer>44</integer>
		<key>modifierFlags</key>
		<integer>655360</integer>
	</dict>
	<key>nextDisplay</key>
	<dict>
		<key>keyCode</key>
		<integer>30</integer>
		<key>modifierFlags</key>
		<integer>655360</integer>
	</dict>
	<key>previousDisplay</key>
	<dict>
		<key>keyCode</key>
		<integer>33</integer>
		<key>modifierFlags</key>
		<integer>655360</integer>
	</dict>
	<key>reflowTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>restore</key>
	<dict>
		<key>keyCode</key>
		<integer>6</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>rightHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>30</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>smaller</key>
	<dict>
		<key>keyCode</key>
		<integer>43</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>stageSize</key>
	<real>30.634340286254883</real>
	<key>subsequentExecutionMode</key>
	<integer>0</integer>
	<key>todo</key>
	<integer>2</integer>
	<key>toggleTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>topHalf</key>
	<dict/>
	<key>topLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>4</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>topRight</key>
	<dict>
		<key>keyCode</key>
		<integer>40</integer>
		<key>modifierFlags</key>
		<integer>524288</integer>
	</dict>
	<key>unsnapRestore</key>
	<integer>2</integer>
	<key>windowSnapping</key>
	<integer>2</integer>
</dict>
</plist>
